*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    font-family: 'Bruno Ace SC', cursive;
}
body{
    animation: fadeIn 2s ease;
    overflow-x: hidden;
    background-image: url("img/background.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-animation: fadeIn 2s ease;
}

a{
    color: steelblue;
    transition: color .3s ease-out;
    -webkit-transition: color .3s ease-out;
    -moz-transition: color .3s ease-out;
    -ms-transition: color .3s ease-out;
    -o-transition: color .3s ease-out;
    
}

a:hover{
    color: rgba(6, 54, 94, 0.863);
    cursor: pointer;
}
h1{
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 800px;
    margin: 10px 10px;
}

.picture{
    width: 200px;
    height: 200px;
    margin: 10px 5px;
    min-width: 80px;
    transform-style: preserve-3d;
}


.answer{
    transform: rotateX(90deg);
    transition: all .3s ease;
    width: 200px;
    height: 200px;
    margin: 10px 5px;
    min-width: 80px;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;

    background-color: black;
    font-weight: bold;
}

.form-style{
    width:600px;
    height:700px;
    margin:0px auto;
    padding:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}

.show {
    animation: fadeIn 3s ease;
    width:600px;
    height:700px;
    margin:0px auto;
    padding:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    -webkit-animation: fadeIn 3s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        filter:blur(20px) ;
        -webkit-filter:blur(20px) ;
    }
    10% {
        opacity:1;
        filter:brightness(2)  ;
        -webkit-filter:brightness(2) blur(10px) ;
}
}

.no-show{
    display: none;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

/* .start-form-style{
    width:600px;
    height:700px;
    margin:0px auto;
    padding:20px;
    display:none;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
} */

.title-form{
    font-weight:bold; 
    font-size:50px; 
    text-align: center;
    color: #09838b
}
.start-title-form{
    font-weight:bold; 
    font-size:50px; 
    text-align: center;
    color: #09838b
}
.user-input{
    width:100%;
    margin:10px 0px;
    padding:20px; 
    border-radius: 10px;
    outline:none;
    font-size: 20px;
    background: #09838b;
    font-weight: bold;
    color: black;
}

.required-input{
    width:100%;
    margin:10px 0px;
    padding:20px; 
    border-radius: 10px;
    background: red;
    outline:none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.btn-user{
    padding:20px;
    width:100%;
    color:steelblue;
    background-color:black;
    font-weight:bold;
    border-radius: 10px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.btn-user:hover{
    cursor: pointer;
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transition: all 2s ease;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
}

.btn-clear{
    width: 300px;
    height: 100px;
    content: "Hola";
    background-color: red;
}

.gallery{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 60%;
    height: 1000px;
    
}



@media screen and (max-width: 600px){
    .user-input,  .btn-user, .required-input{
        width: 60%;
    }

    .title-form{
        font-size: 30px;
    }

}
@media screen and (max-width: 500px){
    .user-input,  .btn-user, .required-input{
        width: 30%;
        font-size: 5px;
    }

    .title-form{
        font-size: 20px;
    }

}